
__pycache__/
*.py[cod]
*$py.class


venv/
.env/

.DS_Store
Thumbs.db


*.log
*.bak
*.swp
*.swo
*.swn
*.tmp


build/
dist/
*.egg-info/


.vscode/
.idea/
*.sublime-workspace
*.sublime-project


.heroku/

